* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
}
a{
    text-decoration:#d9d9d9;
    color: #d9d9d9;
}
.sidebar {
    color: #d9d9d9;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: flex-start;
    width: 220px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    transition: all 0.35s;
    

}

.sidebar-header {
    width: 100%;
    margin-bottom: 16px;
}

.logo-img {
    width: 35px;
    height: 30px;
    object-fit: cover;
    transition: transform 0.4s;
    margin-left: 45%;
}

.logo-img:hover {
    transform: scale(1.5);
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button>span {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
}

.sidebar button:hover>span {
    background: rgba(255, 255, 255, 0.08);
}

.sidebar button i {
    position: relative;
    font-size: 35px;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px;
}

.sidebar nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar i img {
    width: 30px;
}
.main {
    margin-left: 230px;
    margin-right: 6px;
    color: black;
    width: calc(100% - 230px);
    padding: 20px;
    box-sizing: border-box;
}

.suporte {
    background-color: #F5F5F7;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); /* Garante que a largura seja 100% menos o padding */
    max-width: 1200px;
    margin: 20px auto; /* Centraliza horizontalmente */
}

.suporte> h3 {
    font-size: 25px;
    text-align: center;
}
p{
    text-align: center;
    margin-top: 20px;
}
.imagem-github {
    text-align: center; 
}
 
 .imagem-github img {
    width: 130px;
    display: block; 
    margin: 0 auto; 
 }

@media(width < 620px) {
    .sidebar {
        width: 72px;
    }

    .sidebar button>span {
        width: 50px;
    }

    .sidebar button>span>span {
        opacity: 0;
        visibility: hidden;
    }
    .main {
        transition: margin 0.4s;
        margin-left: 78px;
        width: calc(100% - 78px);
    }
}